<!-- <p>all-products works!</p> -->
<header class="bg-dark py-5 banner">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-warning ">
            <h1 class="display-4 fw-bolder me-5">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allproducts |filter:searchTerm:'title' ">
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image"  alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                         ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-dark mt-auto text-warning" routerLink="viewproducts/{{product.id}}"> <i class="fa-solid fa-eye"></i> View product</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        <a class="btn btn-outline-dark mt-auto me-3" routerLink="viewproducts/:id"> <i class="fa-solid fa-heart text-danger"></i></a>
                        <a (click)="addtoCart(product)" class="btn btn-outline-dark mt-auto" > <i class="fa-solid fa-cart-plus text-warning"></i></a>
    
                    </div>
                </div>
            </div>
            </div>
            </div>
</section>