<!-- <p>view-product works!</p> -->
   <!-- Product section-->
   <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top " style="height: 400px;width: 400px;" [src]="prod.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{prod.category}}</div>
                <h1 class="display-5 fw-bolder text-muted">{{prod.title}}</h1>
                <div class="fs-5 mb-5">
                  
                    <span class="text-success">${{prod.price}}</span>
                </div>
                <p class="lead">{{prod.description}}</p>
                <div class="d-flex">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <button (click)="addtoCart(prod)" class="btn flex-shrink-0" type="button"><i class="fa-solid fa-cart-plus fs-4"></i>
                        <i class="bi-cart-fill me-1"></i>
                     
                    </button>
                    <button class="btn btn -dark text-warning flex-shrink-0 ms-2" type="button" (click)="addtowishlist()"><i class="fa-solid fa-heart text-danger fs-4"></i>
                        <i class="bi-cart-fill me-1"></i>
                      
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>